<%- include('./header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>
    Hello, <%= receiver %> You are invited by <%= inviter %> to a project <%=
    projectName %>
  </h3>
  <p>Please login or signup to view the project.</p>
  <p>Thank you</p>
</div>

<%- include('./footer.ejs') %>
